#content {
  margin-left: 15%;
  width: 70%;
  background-color: white;
  height: 100%;
}

#leaderboard {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}

th {
  height: 2em;
  text-align: center;
}

td.character {
  text-align: center;
}

td.ranktitle {
  text-align: center;
}

body {
  background-color: #68604d;
}

img {
  margin: auto;
  max-height: 5em;
}

.next {
  cursor: pointer;
}

.next:hover {
  text-decoration: underline;
  color: red;
}

.previous {
  cursor: pointer;
}

.previous:hover {
  text-decoration: underline;
  color: red;
}
